/* uni.scss */
@import 'uview-ui/theme.scss';

/* 颜色变量 */
$blue:#6946FF;
$blue-1:#0072FF;
$green: #00c28e;
$purple:#F3F0FF;
$red:#EA0000;
$orange:#F28233;
$white:#fff;
$bg:#f8f8f8;
$bg-1:#bbb;
$bg-green:#00c28e;
$bg-green-1:#EFFFFB;



$gray:#333;
$gray-1:#666;
$gray-2:#999;



/* 边框border */
$border-width-base:1rpx;
$border-color:#f0f0f0; 
$radius:5rpx;